* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --lighter-violet: hsl(263, 76%, 72%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

.daniel {
  background-color: var(--moderate-violet);
}

.jonathan {
  background-color: var(--very-dark-grayish-blue);
}

.patrick {
  background-color: var(--very-dark-blackish-blue);
}

.jeanette,
.kira {
  background-color: var(--white);
}

.daniel,
.jonathan,
.patrick {
  color: var(--white);
}

body {
  background-color: var(--light-grayish-blue);
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  background-color: var(--light-grayish-blue);
  padding: 3rem 5rem 2.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.daniel {
  grid-column: span 2;
  position: relative;
}

.kira {
  grid-column: 4;
  grid-row: 1 / span 2;
}

.patrick {
  grid-column: 2 / span 2;
  grid-row: 2;
}

.testimonial {
  padding: 1.9rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.testimonial .profile-picture {
  float: left;
  margin-right: 1rem;
  border-radius: 50%;
}

.daniel .profile-picture {
  border: 2px solid var(--lighter-violet);
}

.daniel .quotation {
  position: absolute;
  top: 0;
  right: 15%;
  height: 130px;
  z-index: 1;
}

.jonathan .profile-picture {
  border: 2px solid var(--Light-gray);
}

.patrick .profile-picture {
  border: 2px solid var(--moderate-violet);
}

.username,
.user-status {
  color: var(--Light-gray);
}

.user-status {
  opacity: 50%;
  margin-bottom: 2rem;
}

.jeanette .username,
.jeanette .user-status,
.jeanette .testimonial-title,
.kira .username,
.kira .user-status,
.kira .testimonial-title {
  color: var(--very-dark-blackish-blue);
}

.jeanette .user-status,
.kira .user-status {
  opacity: 50%;
}

.testimonial-text {
  opacity: 50%;
}

.testimonial-title {
  padding-bottom: 1rem;
  position: relative;
  z-index: 2;
}
